page-jobdetail {
    p{
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
        overflow: hidden !important;
    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: 0px solid #c8c7cc;
    }
    ion-label {
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }
    ion-icon {
        padding-right: 5px;
    }
    img {
        height: 58px !important;
    }
    .top15 {
        margin-top: 15px !important;
    }
    .item-ios p {
        padding-bottom: 5px;
    }
    h4 {
        margin-top: 5px !important;
    }
    h2 {
       // margin-left: 17px !important;
        margin-bottom: 11px !important;
    }
    .toolbar-background-md {
        border-color: #ffffff;
        background: #ffffff;
    }
    
}
