page-nearby {
    .label-md {
        margin: 5px 0px 5px 0px;
    }
    .item-block {
        padding-left: 0px !important;
    }
    .img-rating {
        height: 25px
    }
    label{
        font-size: 12px;
        color: #676767;
    }
}
